//- #########################################################

	ファイル概要：サイトロゴやグローバルナビなどのヘッダ用ファイル

	#########################################################

//- ロゴのアンカーと画像設定
mixin logo
	a(href=domain)
		//- img(src=image_path+"" alt=site_name)

header.site-header
	if id=='index'
		h1.sitelogo
			+logo
	else
		p.sitelogo
			+logo
