//- #########################################################

	ファイル概要：コピーライトなどのフッタ用ファイル

	#########################################################

footer.site-footer
	p
		small !{copyright}

//- JSファイルの読み込み
script(src=js_path+"/"+jsfile)