//- #########################################################

	ファイル概要：サイトロゴやグローバルナビなどのヘッダ用ファイル

	#########################################################

//- ロゴのアンカーと画像設定
mixin logo
	a(href=page.url)
		//- img(src=image_path+"" alt=site_name)

header.site-header
	if id=='top'
		h1
			+logo
	else
		p
			+logo
