//- #########################################################

	ファイル概要：サイト全体の設定ファイル

	#########################################################
//- =========================================================
	基本設定
	=========================================================
//- 画像の設置場所
- var image_path = '/common/img'
//- CSSの設置場所
- var css_path = '/common/css'
//- JSの設置場所
- var js_path = '/common/js'
//- サイト名
- var site_name = ''
//- サイトURL example.com
- var domain = '' 
//- コピーライト
- var copyright = '&copy; コピーライト表記'
