@charset "UTF-8";


/*#########################################################

要素関連（リセットCSSの種類によっては不要）

#########################################################*/
html {
	height: 100%;
	font-size: 62.5%;	// 1rem=12pt（16px）→1rem=10px
}
body {
	height: 100%;
	font-size: $font-size;
	font-family: $font-family;
	line-height: 1.8;
	color: $c-text;
	background-color: $c-bg;
	// android対応
	@include mq(sm){
		line-height: 1.5;
	}
}
p {
	margin-bottom: 1rem;
}
a {
	color: $c-anchor;
	// アンカーのデフォルトホバー処理
	transition: all 0.5s ease-out;
	&:visited {
		color: $c-anchor-visited;
	}
	&:focus {
		color: $c-anchor-focus;
	}
	&:hover {
		color: $c-anchor-hover;
		opacity: 0.6;
	}
	&:active {
		color: $c-anchor-active;
	}
}
h1,h2,h3,h4,h5,h6{
}
h1{
	font-size: $font-size*2.5;
	// @include mq(sm){
	// 	font-size: $font-size*2.5;
	// }
}
h2{
	font-size: $font-size*2;
	// @include mq(sm){
	// 	font-size: $font-size*2;
	// }
}
h3{
	font-size: $font-size*1.75;
	// @include mq(sm){
	// 	font-size: $font-size*1.75;
	// }
}
h4{
	font-size: $font-size*1.5;
	// @include mq(sm){
	// 	font-size: $font-size*1.5;
	// }
}
h5{
	font-size: $font-size*1.25;
	// @include mq(sm){
	// 	font-size: $font-size*1.25;
	// }
}
h6{
	font-size: $font-size*1;
	// @include mq(sm){
	// 	font-size: $font-size*1;
	// }
}
textarea{
	border: 1px solid $c-line;
}
input{
	border: 1px solid $c-line;
}
table{
	border-collapse: collapse;
}
